@{
    ViewData["Title"] = "Contact";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<div class="text-left">
    <h1 class="display-4">Contact</h1>
    <p>If you want to reach out to me for any sort of inquiry, email is usually the best way to do that.</p>
</div>

<form>
    <input type="text" placeholder="Name" />
    <input type="email" placeholder="Email" />
    <input type="text" placeholder="Subject" />
    <input type="text" placeholder="Message" />
    <input type="submit" value="Send" /> 
</form>

<div class="text-background">
    <i class="fas fa-envelope"></i>
    <a href="mailto:AlexanderGipp@outlook.de">AlexanderGipp@outlook.de</a>
</div>