@{
    ViewData["Title"] = "Software development";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<div class="text-left">
    <h1 class="display-4">Software development</h1>
    <p>Experties and skills</p>
</div>



<div class="skills">
    <div class="skill-group">
        <div class="title">Programming languages</div>
        <div class="icon-list">
            <span class="icon-container" style="font-size: 40px;">
                <i class="fab fa-html5" style="color: rgb(227, 76, 38);"></i>
                <i class="fab fa-css3-alt" style="color: rgb(38, 77, 228);"></i>
                <i style="font-size: 30px; color: rgb(109, 19, 224);">.NET</i>
            </span>
        </div>
    </div>

    <div class="skill-group">
        <div class="title">Operating systems</div>
        <div class="icon-list">
            <span class="icon-container" style="font-size: 40px;">
                <i class="fab fa-windows" style="color: rgb(1, 115, 208);"></i>
                <i class="fab fa-linux" style="color: rgb(12, 12, 12);"></i>
                <i class="fab fa-ubuntu" style="color: rgb(215, 70, 20);"></i>
                <i class="fab fa-raspberry-pi" style="color: rgb(178, 18, 65);"></i>
            </span>
        </div>
    </div>

    <div class="skill-group">
        <div class="title">Tools</div>
        <div class="icon-list">
            <span class="icon-container" style="font-size: 40px;">
                <i class="fab fa-docker" style="color: rgb(14, 144, 210);"></i>
                <i class="fab fa-git-alt" style="color: rgb(233, 75, 46);"></i>
                <i class="fas fa-terminal" style="color: rgb(8, 111, 191);"></i>
            </span>
        </div>
    </div>

    <div class="skill-groups">
        <div class="title">Services</div>
        <div class="icon-list">
            <span class="icon-container" style="font-size: 40px;">
                <i class="fab fa-github" style="color: rgb(48, 47, 47);"></i>
                <i class="fab fa-gitlab" style="color: rgb(252, 109, 38);"></i>
                <i class="fab fa-bitbucket" style="color: #0052CC;"></i>

            </span>
        </div>
    </div>
</div>

<div class="main-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non diam phasellus vestibulum lorem sed risus ultricies. Dui accumsan sit amet nulla facilisi morbi. Pellentesque eu tincidunt tortor aliquam nulla. Cras pulvinar mattis nunc sed blandit libero. Eu feugiat pretium nibh ipsum consequat nisl. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend. Ac felis donec et odio pellentesque diam volutpat commodo sed. Lacus laoreet non curabitur gravida arcu ac. Fusce id velit ut tortor pretium viverra suspendisse potenti. Magna fringilla urna porttitor rhoncus dolor purus. Dictum non consectetur a erat nam at lectus. Ullamcorper malesuada proin libero nunc consequat interdum varius sit amet.
</div>


<div class="text-left">
    <h1 class="display-4">Projects</h1>
</div>
