@model PersonalWebsite.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <h1 class="display-4">Github Projects</h1>
    @foreach (var repo in Model.Repos)
    {
        <p>@repo.Name</p>
    }
</div>